<ion-list>
  <ion-list-header
    ><ion-text><h1>Screen Saver Configuration</h1></ion-text></ion-list-header
  >
  <form [formGroup]="form">
    <ion-item>
      <ion-label>Screen Saver Status</ion-label>
      <ion-toggle formControlName="screenSaverStatus" slot="end"></ion-toggle>
    </ion-item>

    @if (form.get('screenSaverType')!.enabled) {
    <ion-item>
      <ion-select formControlName="screenSaverType" label="Screen Saver Type">
        <ion-select-option value="singleImage"
          >Single Image Ads</ion-select-option
        >
        <ion-select-option value="multiImage"
          >Multi Image Ads</ion-select-option
        >
        <ion-select-option value="video">Video Ad</ion-select-option>
      </ion-select>
    </ion-item>
    } @if (form.get('imageUrl')!.enabled) {
    <ion-item
      ><ion-input
        label="Image URL"
        formControlName="imageUrl"
        label="Image URL"
      ></ion-input
    ></ion-item>
    } @if (form.get('imageUrls')!.enabled) {
    <ion-item>
      <ion-input
        label="Image URLs (comma separated)"
        formControlName="imageUrls"
      ></ion-input>
    </ion-item>
    } @if (form.get('videoUrl')!.enabled) {
    <ion-item>
      <ion-input label="Video URL" formControlName="videoUrl"></ion-input>
    </ion-item>
    } @if (form.get('videoLoop')!.enabled) {
    <ion-item>
      <ion-label>Loop Video</ion-label>
      <ion-toggle formControlName="videoLoop" slot="end"></ion-toggle>
    </ion-item>
    }
  </form>
</ion-list>
