<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-text><h1>List of Saved Devices</h1></ion-text>
    </ion-list-header>

    @if (deviceStatus()) {

    <ion-item>
      <ion-icon
        name="desktop"
        color="warning"
        size="large"
        class="ion-margin-horizontal"
      ></ion-icon>
      <ion-label>abc asodhfs</ion-label>
      <ion-button (click)="onDisconnect()" color="danger"
        >Disconnect</ion-button
      >
    </ion-item>
    }@else {
    <ion-text color="danger" class="ion-text-center"
      ><p>
        You are not connected to any device. Provide Device credentials and
        connect
      </p></ion-text
    >
    }
  </ion-list>
  @if(!deviceStatus()){

  <ion-card>
    <ion-card-header>
      <ion-card-title>Connect to New Device</ion-card-title>
      <ion-card-subtitle>Fill the below 2 Valuess</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="connectDeviceForm" (ngSubmit)="addDevice()">
        <ion-input label="host_ip" formControlName="host_ip"></ion-input>
        <ion-input
          label="port no."
          formControlName="port"
          type="number"
        ></ion-input>
        <ion-button type="submit">Connect</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  }
  <ion-list>
    <ion-list-header>
      <ion-text><h1>Logs of Above Device</h1></ion-text>
    </ion-list-header>
    @for (log of connectionLogs(); track $index) {
    <ion-item>{{log}}</ion-item>
    }
  </ion-list>
</ion-content>
