<ion-list>
  <ion-list-header
    ><ion-text><h1>Header Configuration</h1></ion-text></ion-list-header
  >
  <form [formGroup]="form">
    <ion-item>
      <ion-select label="Header Type" formControlName="headerType">
        <ion-select-option value="H0001">Header 1</ion-select-option>
        <ion-select-option value="H0010">Header 2</ion-select-option>
        <ion-select-option value="H0100">Header 3</ion-select-option>
        <ion-select-option value="H1000">Header 4</ion-select-option>
      </ion-select>
    </ion-item>
  </form>
</ion-list>
