<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="home" aria-hidden="true"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="devices" href="/tabs/devices">
      <ion-icon name="desktop" aria-hidden="true"></ion-icon>
      <ion-label>Devices</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="layouts" href="/tabs/layouts">
      <ion-icon aria-hidden="true" name="layers"></ion-icon>
      <ion-label>Layouts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="cog"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
