ion-content.container{
    --background:url('https://image2url.com/r2/default/images/1768800917301-c1dc79ad-6abe-42b8-bafc-6619c45fcbda.png') no-repeat center center/cover;
}

.form-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20%;
}
