<ion-list>
  <ion-list-header>
    <ion-text><h1>Intermediate Page Configuration</h1></ion-text>
  </ion-list-header>

  @if (isListFilter()) {

  <ion-note color="danger" class="ion-padding-horizontal">
    This feature is not available for the list filter template.
  </ion-note>
  }@else {

  <form [formGroup]="form">
    <ion-item>
      <ion-select
        label="Background Style"
        formControlName="backgroundStyle"
        interface="popover"
      >
        <ion-select-option value="color">Background Color</ion-select-option>
        <ion-select-option value="image">Background Image</ion-select-option>
      </ion-select>
    </ion-item>

    @if (form.get('backgroundColor')!.enabled) {
    <ion-item>
      <ion-input
        type="color"
        formControlName="backgroundColor"
        label="Background Color"
      ></ion-input>
    </ion-item>
    } @if(form.get('backgroundImage')!.enabled){
    <ion-item>
      <input type="file" accept="image/*" (change)="onImageSelected($event)" />
    </ion-item>
    }
  </form>
  }
</ion-list>
