<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-text><h1>List of saved Layouts</h1></ion-text>
    </ion-list-header>

    @for (item of [1,2,3,4]; track $index) {
    <ion-item detail>
      <ion-icon
        name="layers"
        size="large"
        class="ion-margin-horizontal"
        color="tertiary"
      ></ion-icon>
      <ion-label>layout-{{item}}</ion-label>
    </ion-item>
    }
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onLayoutAdd()"
      ><ion-icon name="add" size="large"></ion-icon
    ></ion-fab-button>
  </ion-fab>
</ion-content>
